<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    

    <target xsi:type="Database"
         name="Mobile"
         dbProvider="Oracle.ManagedDataAccess.Client.OracleConnection, Oracle.ManagedDataAccess"       
         connectionString="${var:DbConnectionString}">
      <commandText>
        insert into DACTOCREATOR.WEB_MOBILE_LOG (
        MachineName, Logged,  LevelErr, Message,
        Logger, Callsite, ExceptionErr
        ) values (
        :MachineName, SYSDATE, :LevelErr, :Message,
        :Logger, :Callsite, :ExceptionErr
        )
      </commandText>
      <parameter name="MachineName" layout="${machinename}" />      
      <parameter name="LevelErr" layout="${level}" />
      <parameter name="Message" layout="${message}" />
      <parameter name="Logger" layout="${logger}" />
      <parameter name="Callsite" layout="${callsite}" />
      <parameter name="ExceptionErr" layout="${exception:tostring}" />
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="Mobile" />

    
    
  </rules>
</nlog>
